// Copyright (c) 2004-2020 Microchip Technology Inc. and its subsidiaries.
// SPDX-License-Identifier: MIT

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target-path = "/axi@600000000/spi@600104000";
		__overlay__ {
			rx-sample-delay-ns = <35>;  /* Tune for speed */
			spi@1 {
				spi-max-frequency = <25000000>;  /* 25 MHz */
			};

			spi@2 {
				spi-max-frequency = <25000000>;  /* 25 MHz */
			};
		};
	};
};

