# PHY timestamp unit initialization parameters

clk_freq = MEPA_TS_CLOCK_FREQ_125M
clk_src = MEPA_TS_CLOCK_SRC_INTERNAL
rx_ts_pos = MEPA_TS_RX_TIMESTAMP_POS_IN_PTP
rx_ts_len = MEPA_TS_RX_TIMESTAMP_LEN_32BIT
tx_fifo_mode = MEPA_TS_FIFO_MODE_NORMAL
tx_ts_len = MEPA_TS_FIFO_TIMESTAMP_LEN_4BYTE
tx_fifo_spi_conf = 0
auto_clear_ls = 0
tc_op_mode = MEPA_TS_TC_OP_MODE_A
dly_req_recv_10byte_ts = 0
tx_auto_followup_ts = 0

mch_pch_conf.pch_en = 0
mch_pch_conf.save_ts_with_crc_err = 0
mch_pch_conf.mch_en = 0
mch_pch_conf.ts_len_ing = MEPA_MCH_TS_32NS_ONS
mch_pch_conf.ts_len_egr = MEPA_MCH_TS_32NS_ONS
